:root{
    --primary:#9c27b0;
    --primaryDark:#89119d;
    --secundary: #FFC107;
    --secundaryDark: #rgb(233,287,2);
    --white: #ffffff;
    --black:#000;
    --lightBlue:#0097A7;
    --grey:#333333;
    --green:#71B100;

    --mainFont: 'Staatliches', cursive;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset for REMS - 62.5% = 10px of 16px **/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;  /** Reset for REMS - 62.5% = 10px of 16px **/
    line-height: 2;
    background-image: linear-gradient(to top, #DFE9F3 0%, #ffffff 100%);
}

/** Global **/

img {
    max-width: 100%;
    margin: auto;
    margin-top: 2rem;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form label.required:after
{
    color: red;
    content: " *";
}

/** Utilities **/

.section {
    margin: 2rem  0 2rem 0;
}
.fw-300 {
    font-weight: 300;
}.fw-700 {
     font-weight: 700;
 }
.center-text {
    text-align: center;
}

.container {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

.contained-center, 
.contained-center a {
    display: grid;
    margin: auto;
}

/* Header */
.mainLogo{
    text-align: center;
}
.banner-top{
    background-image: url(../img/Web-banner-contact-us-se.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    padding: 1rem 0 3rem 0;

}

/** Navigation **/
.nav-bg{
    background-color: #0097A7;

}
.navigation-primary{
    display: flex;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex-direction: column;
    align-items: left;
    margin-bottom: 2rem;
 
}
.navigation-primary a{
    padding: 1rem 2rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4rem;
 }
.navigation-primary a:hover {
    background-color: #FFC107;
    color: #000000;

}

.navigation-secundary a {
    color: var(--white);
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}

.navigation-secundary a:hover {
    color:var(--green);
}


/** Contact **/
.contact p {
    font-size: 1.4rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}
legend {
    font-size: 2rem;
    color: #4f4f4f;
}
label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
/*Input:not that applies to every type that is not a submit, that means to name, telf, email.  all inputs*/
input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"]{
    width: 100px;
    margin: auto 0;
}
select {
    -webkit-appearance: none;
    appearance: none;
}
textarea {
    height: 20rem;
}
.main-form{
    max-width:800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: min(60rem, 100%);
}
.form-contact {
  /*  max-width:35%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
fieldset{
    width: 800px;
    width: min(60rem, 100%); /** no needs of MQ with this. It takes the min value, otherwise it goes to 100%**/ 
    margin:  0 auto;
}

/** button **/
.button {
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    flex: 0 0 100%;
}
.button:hover {
    cursor: pointer;
}
.button-yellow {
    background-color: #E08709;
}
.button-green {
    background-color: #71B100;
}

/** Footer **/
.site-footer {
    background-color: #333333;
    margin: 0;
}
.container-footer {
    padding: 3rem 0;
    text-align: center
}

.site-footer nav {
    display: none;
}

.navigation-secundary:target {
    display: block;
}
.navigation-secundary {
    display: none;
}


.copyright {
    margin: 0;
    color: #ffffff;
}


/**MEDIA QUERIES**/

@media screen and (max-width: 768px) {
    #navigation.active {
        display:none
    }
}

@media (min-width: 786px) {
    .navigation-primary{
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }
    
    .container-footer {
        display: flex;
        justify-content: space-between;
    }
    .site-footer nav {
        display: block;
    }
    
    .navigation-secundary a {
        display: inline-block;
        font-size: 1.8rem; /** = 18px **/
        margin-right: 2rem;
    }
    .navigation-secundary a:last-of-type {
        margin: 0;
    }
    

}

@media (max-width:786px) {
    .banner-top{
        background-size: contain;
        height: 30rem;
        padding: 1rem 0 3rem 0;
        display: none;

    }
    .mobile-menu img {
        display: inline-block;
        width: 5rem;
    }    
}

@media (min-width: 486px) {
    .banner-top{
        display: block;
    }
}