:root{
    --primary:#9c27b0;
    --primaryDark:#89119d;
    --secundary: #FFC107;
    --secundaryDark: #rgb(233,287,2);
    --white: #ffffff;
    --black:#000;
    --lightBlue:#0097A7;
    --grey:#333333;
    --green:#71B100;

    --mainFont: 'Staatliches', cursive;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset for REMS - 62.5% = 10px of 16px **/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;  /** Reset for REMS - 62.5% = 10px of 16px **/
    line-height: 2;
    font-weight: 400;
    background-image: linear-gradient(to top, #DFE9F3 0%, #ffffff 100%);
}

/** Global **/

img {
    max-width: 100%;
    margin: auto;
    margin-top: 2rem;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/** Utilities **/

.section {
    margin: 2rem  0 2rem 0;
    position: relative;
}
.fw-300 {
    font-weight: 300;
}.fw-700 {
     font-weight: 700;
 }
.center-text {
    text-align: center;
}

.container {
    display: grid;
    max-width: 120rem;
    width: 95%;
    margin: 10px auto;
}

.center{
    border: 1px solid black;
    padding: 3rem 3rem 3rem 3rem;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
 
}

.article-vote{
    border: none;
    box-shadow: none;
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 30px 0;
    
}

.article-vote-button{
    background: transparent;
    border: 1px solid rgba(0, 150, 219, 1);
    color: rgba(0, 150, 219, 1);
    margin: 10px 5px;
    min-width: 90px;
    
}

/* Header */
.mainLogo{
    text-align: center;
}

/** Navigation **/
.nav-bg{
    background-color: var(--lightBlue);

}
.navigation-primary{
    display: flex;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex-direction: column;
    align-items: left;
    margin-bottom: 2rem;
 
}
.navigation-primary a{
    padding: 1rem 2rem;
    color:var(--white);
    text-decoration: none;
    font-size: 1.4rem;
 }
.navigation-primary a:hover {
    background-color:var(--secundary);
    color:var(--black);

}

.navigation-secundary a {
    color: var(--white);
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}

.navigation-secundary a:hover {
    color:var(--green);
}

/** button **/
.button1 {
    border: 1px solid rgba(0, 150, 219, 1);
    border-radius: 4px;
    color: rgba(0, 150, 219, 1);
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    line-height: 2.34;
    margin: 0 5px;
    padding: 0 30px;
    display: inline-block;
    text-align: center;
    
    flex: 0 0 100%;
}
.button1:hover {
    cursor: pointer;
    background-color: rgba(0, 150, 219, 1);
    color: #ddd;
}

.button1:disabled,
.button1[disabled]{
  cursor: auto;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
/** Navigation **/
.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}

.navigation a:hover {
    color: #71B100;
}

/** Mobile Menu **/

.navigation:target {
    display: block;
}
.navigation {
    display: none;
}

/** Footer **/
.site-footer {
    background-color:var(--grey);
    margin: 0;
}

.container-footer {
    padding: 3rem 0;
    text-align: center;
}

.site-footer nav {
    display: none;
}

.navigation-secundary:target {
    display: block;
}
.navigation-secundary {
    display: none;
}

.copyright {
    margin: 0;
    color:var(--white);
}
/**MEDIA QUERIES**/

@media screen and (max-width: 768px) {
    #navigation.active {
        display:none
    }
}

@media (min-width: 768px) {
    .navigation-primary{
        flex-direction: row;
        justify-content: space-between;
    }
    .container-footer {
        display: flex;
        justify-content: space-between;
    }
    .site-footer nav {
        display: block;
    }
    .container-header{
        text-align: left;
        
    }
    .site-header{
        min-height: 20rem;
    }
    .nav-button{
        position:absolute;
        width: 36px;
        height:36px;
        display: block;
    }
    .button {
        display: inline-block;
        flex: 0 0 auto;
    }
    .navigation {
        display: block;
    }
    .mobile-menu {
        display: none;
    }
    .navigation a {
        display: inline-block;
        font-size: 1.8rem; /** = 18px **/
        margin-right: 2rem;
    }
    .navigation a:last-of-type {
        margin: 0;
    }
    .promo-slides {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
    }
}