:root{
    --primary:#9c27b0;
    --primaryDark:#89119d;
    --secundary: #FFC107;
    --secundaryDark: #rgb(233,287,2);
    --white: #ffffff;
    --black:#000;
    --lightBlue:#0097A7;
    --grey:#333333;
    --green:#71B100;

    --mainFont: 'Staatliches', cursive;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset for REMS - 62.5% = 10px of 16px **/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;  /** Reset for REMS - 62.5% = 10px of 16px **/
    line-height: 2;
    background-image: var(--white);
}

/** Global **/

img {
    max-width: 100%;
}

h1,h2,h3{
    text-align: center;
    color: var(--black);
    font-family: var(--mainFont);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

/** Utilities **/

.section {
    margin: 2rem  0 2rem 0;
}
.fw-300 {
    font-weight: 300;
}.fw-700 {
     font-weight: 700;
 }
.center-text {
    text-align: center;
}

.container {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto; /*with this we center the container*/
}

.contained-center, 
.contained-center a {
    display: grid;
    margin: auto;
}

/* Header */
.mainLogo{
    text-align: center;
}

/** Navigation **/

.nav-bg{
    background-color: var(--lightBlue);

}
.navigation-primary{
    display: flex;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex-direction: column;
    align-items: left;
    margin-bottom: 2rem;
 
}
.navigation-primary a{
    padding: 1rem 2rem;
    color:var(--white);
    text-decoration: none;
    font-size: 1.4rem;
 }
.navigation-primary a:hover {
    background-color:var(--secundary);
    color:var(--black);

}

.navigation-secundary a {
    color: var(--white);
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}

.navigation-secundary a:hover {
    color:var(--green);
}

/**Grid**/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

/** Footer **/
.site-footer {
    background-color:var(--grey);
    margin: 0;
}

.container-footer {
    padding: 3rem 0;
    margin: 2%;
    text-align: center;
}

.site-footer nav {
    display: none;
}

.navigation-secundary:target {
    display: block;
}
.navigation-secundary {
    display: none;
}

.copyright {
    margin: 0;
    color:var(--white);
}


/**MEDIA QUERIES**/

@media screen and (max-width: 768px) {
    #navigation.active {
        display:none
    }
}

@media (min-width: 768px) {
    .navigation-primary{
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }
    
    .container-footer {
        display: flex;
        justify-content: space-between;
    }
    .site-footer nav {
        display: block;
    }
    
    .navigation-secundary a {
        display: inline-block;
        font-size: 1.8rem; /** = 18px **/
        margin-right: 2rem;
    }
    .navigation-secundary a:last-of-type {
        margin: 0;
    }
}
