html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset for REMS - 62.5% = 10px of 16px **/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/** Global **/
img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    width: 95%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
    min-width: 3.5rem;


}

.shadow{
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: #ffffff;
    margin-top: 2rem;

    border-radius: 1rem;
}
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

.image{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    padding: 10px 0;
}
.links{
    width: 100%;
    height: 100%;
}
.image1{
    background-image: url(../img/DB_Photos/covid-19.png);

}
.image2{
    background-image: url(../img/DB_Photos/veckans_utvalda.png);
}
.image3{
    background-image: url(../img/DB_Photos/fyndvaror.png);
}


/** Utilities **/

.section {
    margin: 2rem 0;

}
.fw-300 {
    font-weight: 300;
}
.center-text {
    text-align: center;
}
.d-block {
    display: block!important;
}
.contained-center {
    max-width: 800px;
}
/** Navigation **/
.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}

.navigation a:hover {
    color: #71B100;
}

/** Mobile Menu **/
.mobile-menu img {
    width: 5rem;
}

.navigation:target {
    display: block;
}
.navigation {
    display: none;
}



/** button **/
.button {
    color: green;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}

.button:hover {
    cursor: pointer;
}
.slideshow-sidebar-container{
    display:grid;
    gap: 15px 2%;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
            "section section section sidebar";
}
.slideshow{
    grid-column-start: 1;
    grid-column-end: 8;
border: 1px solid black;
grid-area: section;

}


.sidebar{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    border: 1px solid black;
    grid-area: sidebar;
    gap: 10px;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: #ffffff;

}


.content-container{
   display: grid;
}
.content{
    grid-column: auto;
}

/* Header */
.mainLogo{
    text-align: center;
}

.hamburgerMenu {
    padding-top: 3rem;
}


/** Navigation **/
.mobile-menu{
    display: none;
}
.nav-bg{
    background-color: #0097A7;

}
.navigation-primary{
    display: flex;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex-direction: column;
    align-items: left;
    margin-bottom: 2rem;
 
}
.navigation-primary a{
    padding: 1rem 2rem;
    color:#ffffff;
    text-decoration: none;
    font-size: 1.4rem;
 }
.navigation-primary a:hover {
    background-color:#FFC107;
    color:var(--black);

}


/** Footer **/
.site-footer {
    background-color: #333333;
    margin: 0;
}
.container-footer {
    padding: 3rem 0;
    text-align: center
}

.site-footer nav {
    display: none;
}

.copyright {
    margin: 0;
    color: #ffffff;
}


/**MEDIA QUERIES**/

@media screen and (max-width: 768px) {
    #navigation.active {
        display:none
    }
}


@media (min-width: 768px) {
    .navigation-primary{
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }
    .container-footer {
        display: flex;
        justify-content: space-between;
    }
    .site-footer nav {
        display: block;
    }
    .container-header{
        text-align: left;
        
    }
    .site-header{
        min-height: 20rem;
    }
    .nav-button{
        position:absolute;
        width: 36px;
        height:36px;
        display: block;
    }
    .button {
        display: inline-block;
        flex: 0 0 auto;
    }
    .navigation {
        display: block;
    }
    .navigation a {
        display: inline-block;
        font-size: 1.8rem; /** = 18px **/
        margin-right: 2rem;
    }
    .navigation a:last-of-type {
        margin: 0;
    }
    .promo-slides {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
    }
}
