html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset for REMS - 62.5% = 10px of 16px **/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/** Global **/
img {
    max-width: 100%;
}

.container {
    width: 95%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;


}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/** Utilities **/

.section {
    margin: 2rem  0 2rem 0;
}
.fw-300 {
    font-weight: 300;
}
.center-text {
    text-align: center;
}
.d-block {
    display: block!important;
}
.contained-center {
    max-width: 800px;
}
/** Navigation **/
.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}

.navigation a:hover {
    color: #71B100;
}

/** Mobile Menu **/
.mobile-menu img {
    width: 5rem;
}

.navigation:target {
    display: block;
}
.navigation {
    display: none;
}

/** button **/
.button {
    color: green;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}

.button:hover {
    cursor: pointer;
}
.slideshow-sidebar-container{
    display:grid;
    gap: 10px 2%;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas:
            "section section section section section section section section sidebar sidebar sidebar sidebar";
}
.slideshow{
    grid-column-start: 1;
    grid-column-end: 8;
border: 1px solid black;
grid-area: section;

}


.sidebar{
    grid-column-start: 8;
    grid-column-end: 12;
    border: 1px solid black;
    grid-area: sidebar;


}

.content-container{
   display: grid;
}
.content{
    grid-column: auto;
}

/* Header */
.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.start {
    background-position: center center;
    background-size: cover;
    height: 30rem;
}
.container-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}
.hamburgerMenu {
    padding-top: 3rem;
}

/** Footer **/
.site-footer {
    background-color: #333333;
    margin: 0;
}
.container-footer {
    padding: 3rem 0;
    text-align: center
}

.site-footer nav {
    display: none;
}

.copyright {
    margin: 0;
    color: #ffffff;
}
.nav-button{
    position:absolute;
    width: 36px;
    height:36px;

}




@media (min-width: 768px) {
    .hamburgerMenu {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }
    .container-footer {
        display: flex;
        justify-content: space-between;
    }
    .site-footer nav {
        display: block;
    }
    .contenido-header{
        text-align: left;
    }
    .nav-button{
        position:absolute;
        width: 36px;
        height:36px;
        display: block;
    }
    .button {
        display: inline-block;
        flex: 0 0 auto;
    }
    .navigation {
        display: block;
    }
    .mobile-menu {
        display: none;
    }
    .navigation a {
        display: inline-block;
        font-size: 1.8rem; /** = 18px **/
        margin-right: 2rem;
    }
    .navigation a:last-of-type {
        margin: 0;
    }
}
