
:root{
    --primary:#9c27b0;
    --primaryDark:#89119d;
    --secundary: #FFC107;
    --secundaryDark: #rgb(233,287,2);
    --white: #ffffff;
    --black:#000;
    --lightBlue:#0097A7;
    --grey:#333333;
    --green:#71B100;

    --mainFont: 'Staatliches', cursive;
}

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: var(--black);
    color: var(--lightBlue);
    cursor: pointer;
    outline: none;
    border: 3px solid var(--lightBlue);
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
  }
  #back-to-top-btn:hover, #back-to-top-btn:focus {
    background-color: var(--black);
    color: var(--green); 
    border: 3px solid var(--green);
  }
  
@media(max-width: 992px) {
    #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
  }
  @media(max-width:768px) {
    #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
  }
  
  /* Animations */
  .btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }
  /* fadeInUp */
  @keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
  }

  /* fadeOutDown */
  @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }