html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset for REMS - 62.5% = 10px of 16px **/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;  /** Reset for REMS - 62.5% = 10px of 16px **/
    line-height: 2;
    background-image: linear-gradient(to top, #DFE9F3 0%, #ffffff 100%);
}

/** Global **/

img {
    max-width: 100%;
    margin: auto;
    margin-top: 2rem;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}
button{
    background-color: #0097A7;
    width: 40%;
    height: 20%;
    border-radius: 5px;
}

/** Utilities **/

.section {
    margin: 2rem  0 2rem 0;
}
.fw-300 {
    font-weight: 300;
}.fw-700 {
     font-weight: 700;
 }
.center-text {
    text-align: center;
}

.container {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

.contained-center,
.contained-center a {
    display: grid;
    margin: auto;
}

/* Header */
.mainLogo{
    text-align: center;
}


/** Navigation **/

.nav-bg{
    background-color: #0097A7;

}
.navigation-primary{
    display: flex;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex-direction: column;
    align-items: left;
    margin-bottom: 2rem;

}
.navigation-primary a{
    padding: 1rem 2rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4rem;
}
.navigation-primary a:hover {
    background-color: #FFC107;
    color: #000000;

}

.navigation-secundary a {
    color:#ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}

.navigation-secundary a:hover {
    color:#71B100;
}

#content-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: auto 0;
    justify-items: stretch;
    grid-template-areas:
            "product-name  product-name product-name product-name product-name  product-name "
            " product-picture  product-picture  product-picture  product-price product-price product-price"
            "context-container context-container context-container context-container context-container context-container";

}
#product{
    width: 75%;
    height: 75%;
    justify-self: center;
}
#product-name{
    grid-area: product-name;
    height: 100%;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    margin-top: 2rem;
    text-align: center;
}
#product-price{
    display: flex;
    flex-direction: column;
    grid-area: product-price;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
     margin-top: 2rem;
}
#total-price{

}
#ex-tax-price{
font-weight: bold;
}
#tecnical-information-tab{
    grid-area: tab-Tec;
}
#rewievs-tab{
    grid-area: tab-Rew;
}
.Tab{
    height: 100%;
    width: 100%;
}
#shoppingcart{
align-self: center;
    width: 100%;
    height: 70px;
}
#product-picture{
    grid-area: product-picture;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    margin-top: 2rem;
    display: grid;
}
#context-container{
    grid-area: context-container;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: auto 0;
    gap: 5px;
    padding-top: 10px;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    margin-top: 2rem;
    grid-template-areas:
"tab-Tec tab-Tec tab-Tec tab-Rew tab-Rew tab-Rew"
"tabcontent tabcontent tabcontent tabcontent tabcontent tabcontent";
}
.tabcontent{
    grid-area: tabcontent;
    display: none;
    padding: 6px 12px;
    border: 1px solid black;
    border-top: none;
}


.site-footer {
    background-color: #333333;
    margin: 0;
}
.container-footer {
    padding: 3rem 0;
    text-align: center
}

.site-footer nav {
    display: none;
}

.copyright {
    margin: 0;
    color: #ffffff;
}

/**MEDIA QUERIES**/

@media screen and (max-width: 768px) {
    #navigation.active {
        display:none
    }
}

@media (max-width: 486px) {
    #content-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
    "product-name"
    "product-picture"
    "product-price"
    "context-container";
    }
    #shoppingcart{
        width: 100%;
        height: 60px;
    }

}

@media (min-width: 768px) {
    .navigation-primary{
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }
    .container-footer {
        display: flex;
        justify-content: space-between;
    }
    .site-footer nav {
        display: block;
    }
    
    .navigation-secundary a {
        display: inline-block;
        font-size: 1.8rem; /** = 18px **/
        margin-right: 2rem;
    }
    .navigation-secundary a:last-of-type {
        margin: 0;
    }
}
